*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 600px */
  #lyrics {
      font-size: 14px; /* Reduce el tamaño del texto para dispositivos más pequeños */
      margin-bottom: 530px;
      letter-spacing: 3px;
  }

}

:root {
  --dark-color: #722F37;
}
body {
  color: azure;
  width: 100%;
  height: 100vh; /* Ajusta el alto para que ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative; /* Necesario para el fondo */
  overflow: hidden; /* Oculta el contenido extra */
}
/* Slideshow */
.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Asegura que no haya scroll y el contenido no se salga */
  z-index: -1; /* Asegura que las imágenes estén detrás del contenido */
}

/* Cada enlace ocupa todo el contenedor */
.slideshow a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Diapositivas */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideShow 15s infinite; /* Ajusta el tiempo total de la animación */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Aplicar las clases de imágenes */
.slide1 { background-image: url('https://i.ibb.co/j5VdxGv/Casita-del-arbol-1.jpg'); }
.slide2 { background-image: url('https://i.ibb.co/6wK7JRS/Casita-del-arbol-2.jpg'); }
.slide3 { background-image: url('https://i.ibb.co/1LT0PV6/En-el-taxi-2.jpg'); }
.slide4 { background-image: url('https://i.ibb.co/6wYVcpp/En-el-taxi.jpg'); }
.slide5 { background-image: url('https://i.ibb.co/0Vn6s1n/En-la-escuela-1.jpg'); }
.slide6 { background-image: url('https://i.ibb.co/XF5QXcc/En-la-escuela-2.jpg'); }
.slide7 { background-image: url('https://i.ibb.co/5RGbRqQ/En-la-escuela-3.jpg'); }
.slide8 { background-image: url('https://i.ibb.co/mqBz3sH/En-la-escuela-4.jpg'); }
.slide9 { background-image: url('https://i.ibb.co/WsWB35C/En-la-escuela-5.jpg'); }

/* Animación de cambio de diapositiva */
@keyframes slideShow {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.sparkle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, rgba(255,215,0,1) 0%, rgba(253, 72, 244, 0.288) 70%);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: sparkle 3s infinite;
}

@keyframes sparkle {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  10% {
      transform: scale(1.2);
      opacity: 1;
  }
  30% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1);
      opacity: 0;
  }
  80% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}
